@page "/calendar"

<PageTitle>Calendar</PageTitle>

<div class="calendar-container">
    <div class="navigation-buttons">
        <a class="arrow-button" @onclick="PreviousMonth">&lt;&lt;&lt;</a>
        <span class="month-year-header">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(_month) @_year</span>
        <a class="arrow-button" @onclick="NextMonth">&gt;&gt;&gt;</a>
    </div>

    <div class="filter-container">
        <label for="author">Select executor:</label>

        <select id="author" @onchange="HandleExecutorChange">
            @foreach (var author in Authors)
            {
                if (author.Id == UserProviderService.User.Id)
                {
                    <option value="@author.Id" selected>@author.ShortName</option>
                }
                else
                {
                    <option value="@author.Id">@author.ShortName</option>
                }
            }
        </select>

        <label for="month">Select month:</label>
        <select id="month" @onchange="HandleMonthChange">
            @for (var i = 1; i <= 12; i++)
            {
                <option value="@i" selected="@(_month == i)">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</option>
            }
        </select>

        <label for="year">Enter year:</label>
        <input type="number" id="year" @bind-value="_year" min="1900" max="2100" @oninput="GoToSelectedMonthYear" />
        <button class="go-button" @onclick="GoToSelected">Go</button>
    </div>

    @if (CalendarDays != null)
    {
        <table class="calendar-table">
            <thead>
                <tr>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var week in CalendarDays)
                {
                    <tr>
                        @foreach (var day in week)
                        {
                            <td class="@(day.IsToday ? "today" : (day.DayNumber == 0 ? "empty-cell" : ""))">
                                @((day.DayNumber == 0) ? "" : day.DayNumber)
                                @if (day.DayNumber != 0 && day.Tasks.Any())
                                {
                                    @foreach (var task in day.Tasks)
                                    {
                                        if (task.EndDate >= new DateTime(_year, _month, day.DayNumber))
                                        {
                                            <div class="task-block">
                                                <div>
                                                    <a href="/task-read/@(task.TaskId)" class="task-link">
                                                        Задача: @task.TaskId
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    }
                                }

                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
