<PageHeader BackIcon="true" OnBack="RedirectBack" Class="site-page-header">
    <PageHeaderTitle>TASK BOOK</PageHeaderTitle>
    <PageHeaderSubtitle>This is a task book</PageHeaderSubtitle>
    <PageHeaderExtra>
        <Paragraph>
            @if (UserAuthenticationName == "Anonymous (Anonymous)")
            {
                @($"Hello, {UserAuthenticationName}!")
            }
            else
            {
                <Button OnClick="ShowUserProfile" Type="@ButtonType.Link">
                    @($"Hello, {UserAuthenticationName}!")
                </Button>
            }
        </Paragraph>
        @if (UserAuthenticationName == "Anonymous (Anonymous)")
        {
            <Button Type="@ButtonType.Primary" OnClick="LoginHandler">LOGIN</Button>
        }
        else
        {
            <a href="@($"LogoutPage")">Выход</a>
        }
    </PageHeaderExtra>
</PageHeader>