@page "/profile"
@inherits LocalizationPage
@inject IStringLocalizer<PersonalProfile> Localizer

@{
    SetDefaultCulture(UserProviderService.User.LocalizationType);
}

<PageTitle>@Localizer["PageTitle"]</PageTitle>

<div class="profile-container">

    <h2>@Localizer["Header"]</h2>

    <Loading Spinning="IsLoading">
        <form class="profile-form" @onsubmit="EditProfile">
            <label for="name" class="profile-label">@Localizer["Name"]</label>
            <input type="text" id="name" class="profile-input" @bind="@Author.Name" />

            <label for="password" class="profile-label">@Localizer["Password"]</label>
            <input type="password" id="password" class="profile-input" @bind="@Author.Password" />

            <label for="language" class="profile-label">@Localizer["Language"]</label>
            <select id="language" class="profile-input" @bind="@Author.LocalizationType">
                @foreach (var language in _localizationTypes)
                {
                    <option value="@language.Key">@language.Value</option>
                }
            </select>

            <button type="submit" class="profile-button">@Localizer["Save"]</button>
        </form>
    </Loading>
</div>
