@page "/create-task"

<PageTitle>Create Page</PageTitle>

<Divider />

<Loading Spinning="IsLoading">
    <EditForm EditContext="@EditContext" OnSubmit="CreateTask" class="create-form">
        <DataAnnotationsValidator/>

        <div class="form-item">
            <label for="name">Name <span class="required">*</span></label>
            <Input id="name" @bind-Value="@CreatedTask.Name"/>
            <ValidationMessage For="@(() => CreatedTask.Name)"/>
        </div>

        <div class="form-item">
            <label for="description">Description</label>
            <TextArea id="description" @bind-Value="@CreatedTask.Description"></TextArea>
        </div>

        <div class="form-item">
            <label for="taskExecutor">Task executor <span class="required">*</span></label>
            <Select id="taskExecutor"
                    Mode="default"
                    DataSource="@Authors"
                    EnableSearch
                    TItemValue="int"
                    TItem="Author"
                    @bind-Value="@CreatedTask.TaskExecutorId"
                    LabelName="@nameof(Author.FullName)"
                    ValueName="@nameof(Author.Id)">
            </Select>
            <ValidationMessage For="@(() => CreatedTask.TaskExecutorId)"/>
        </div>

        @if (MachineLearningModeOptionService.IsEnabled)
        {
            <div class="form-item">
                <Button Block Type="@ButtonType.Default" OnClick="PredictProbability">
                    Predict
                </Button>
            </div>
            <div class="form-item">
                <Text Type="@PredictProbabilityMessageStyle">@PredictProbabilityMessage</Text>
            </div>
        }

        <div class="form-item">
            <label for="priority">Priority <span class="required">*</span></label>
            <Select id="priority"
                    Mode="default"
                    DataSource="@Priorities"
                    EnableSearch
                    TItemValue="int"
                    TItem="Priority"
                    @bind-Value="@CreatedTask.PriorityId"
                    LabelName="@nameof(Priority.Name)"
                    ValueName="@nameof(Priority.Id)">
            </Select>
            <ValidationMessage For="@(() => CreatedTask.PriorityId)"/>
        </div>

        <div class="form-item">
            <label for="informationSystem">Information system <span class="required">*</span></label>
            <Select id="informationSystem"
                    Mode="default"
                    DataSource="@InformationSystems"
                    EnableSearch
                    TItemValue="int"
                    TItem="InformationSystem"
                    @bind-Value="@CreatedTask.InformationSystemId"
                    LabelName="@nameof(InformationSystem.Name)"
                    ValueName="@nameof(InformationSystem.Id)">
            </Select>
            <ValidationMessage For="@(() => CreatedTask.InformationSystemId)"/>
        </div>

        <div class="form-item">
            <label for="taskType">Task type <span class="required">*</span></label>
            <Select id="taskType"
                    Mode="default"
                    DataSource="@CatalogTaskTypes"
                    EnableSearch
                    TItemValue="int"
                    TItem="CatalogTaskType"
                    @bind-Value="@CreatedTask.TaskTypeId"
                    LabelName="@nameof(CatalogTaskType.Name)"
                    ValueName="@nameof(CatalogTaskType.Id)">
            </Select>
            <ValidationMessage For="@(() => CreatedTask.TaskTypeId)"/>
        </div>

        <div class="form-item">
            <label for="relatedTasks">Related tasks</label>
            <Select id="relatedTasks"
                    Mode="multiple"
                    DataSource="@CatalogTaskList"
                    EnableSearch
                    @bind-Values="@RelatedTaskId"
                    LabelName="@nameof(CatalogTask.Name)"
                    ValueName="@nameof(CatalogTask.Id)">
            </Select>
        </div>

        <div class="form-item">
            <label for="taskStatus">Task status <span class="required">*</span></label>
            <Input id="taskStatus" @bind-Value="@DefaultStatus.Name" Disabled/>
        </div>

        <div class="form-item">
            <label for="files">Files</label>
            <InputFile id="files" multiple OnChange="HandleFileSelected"/>
        </div>

        <button type="submit">Create task</button>
    </EditForm>
</Loading>