@page "/create-task"
@using TaskNinjaHub.Application.Entities.TaskTypes.Domain

<PageTitle>Create Page</PageTitle>

<Divider />

<Loading Spinning="IsLoading">
    <div class="createForm">
        <Form Model="@CreatedTask"
              OnFinish="OnFinish"
              OnFinishFailed="OnFinishFailed"
              LabelColSpan="3"
              WrapperColSpan="21"
              Size="AntSizeLDSType.Small">
            <FormItem Label="Name">
                <Input @bind-Value="@context.Name" />
            </FormItem>
            <FormItem Label="Description">
                <TextArea @bind-Value="@context.Description"></TextArea>
            </FormItem>
            <FormItem Label="Task author">
                <Input @bind-Value="@CurrentUser.Name" Disabled />
            </FormItem>
            <FormItem Label="Task executor">
                <Select Mode="default"
                        DataSource="@Authors"
                        EnableSearch
                        TItemValue="int?"
                        TItem="Author"
                        OnSelectedItemChanged="SelectedExecutorHandler"
                        @bind-Value="@context.TaskExecutorId"
                        LabelName="@nameof(Author.FullName)"
                        ValueName="@nameof(Author.Id)">
                </Select>
            </FormItem>
            <FormItem Label="Probability">
                <Text Type="@PredictProbabilityMessageStyle">@PredictProbabilityMessage</Text>
            </FormItem>
            <FormItem Label="Priority">
                <Select Mode="default"
                        DataSource="@Priorities"
                        EnableSearch
                        TItemValue="int?"
                        TItem="Priority"
                        @bind-Value="@context.PriorityId"
                        OnSelectedItemChanged="SelectedPriorityHandler"
                        LabelName="@nameof(Priority.Name)"
                        ValueName="@nameof(Priority.Id)">
                </Select>
            </FormItem>
            <FormItem Label="Information system">
                <Select Mode="default"
                        DataSource="@InformationSystems"
                        EnableSearch
                        TItemValue="int?"
                        TItem="InformationSystem"
                        OnSelectedItemChanged="SelectedInformationSystemHandler"
                        @bind-Value="@context.InformationSystemId"
                        LabelName="@nameof(InformationSystem.Name)"
                        ValueName="@nameof(InformationSystem.Id)">
                </Select>
            </FormItem>
            <FormItem Label="Task type">
                <Select Mode="default"
                        DataSource="@CatalogTaskTypes"
                        EnableSearch
                        TItemValue="int?"
                        TItem="CatalogTaskType"
                        OnSelectedItemChanged="SelectedTaskTypeHandler"
                        @bind-Value="@context.TaskTypeId"
                        LabelName="@nameof(CatalogTaskType.Name)"
                        ValueName="@nameof(CatalogTaskType.Id)">
                </Select>
            </FormItem>
            <FormItem Label="Related tasks">
                <Select Mode="multiple"
                        DataSource="@CatalogTaskList"
                        EnableSearch
                        @bind-Values="@RelatedTaskId"
                        LabelName="@nameof(CatalogTask.Name)"
                        ValueName="@nameof(CatalogTask.Id)">
                </Select>
            </FormItem>
            <FormItem Label="Task status">
                <Input @bind-Value="@DefaultStatus!.Name" Disabled />
            </FormItem>
            <FormItem Label="Files">
                <InputFile multiple OnChange="HandleFileSelected" />
            </FormItem>
        </Form>
        <div class="createTaskButton">
            <Button Block Type="@ButtonType.Primary" HtmlType="submit" OnClick="CreateTask">
                Create task
            </Button>
        </div>
    </div>
</Loading>