@page "/create-task"

<PageTitle>Create Page</PageTitle>

<br />

<Loading Spinning="IsLoading">
    <div class="createForm">
        <Form Model="@CreatedCatalogTask"
              OnFinish="OnFinish"
              OnFinishFailed="OnFinishFailed"
              LabelColSpan="3"
              WrapperColSpan="21"
              Size="AntSizeLDSType.Small">
            <FormItem Label="Name">
                <Input @bind-Value="@context.Name" />
            </FormItem>
            <FormItem Label="Description">
                <TextArea @bind-Value="@context.Description"></TextArea>
            </FormItem>
            <FormItem Label="Task author">
                <Input @bind-Value="@CurrentUser.Name" Disabled />
            </FormItem>
            <FormItem Label="Task executor">
                <Select Mode="default"
                        DataSource="@AuthorsList"
                        EnableSearch
                        @bind-Value="@context.TaskExecutorId"
                        LabelName="@nameof(Author.Name)"
                        ValueName="@nameof(Author.Id)">
                </Select>
            </FormItem>
            <FormItem Label="Priority">
                <Select Mode="default"
                        DataSource="@PriorityList"
                        EnableSearch
                        @bind-Value="@context.PriorityId"
                        LabelName="@nameof(Priority.Name)"
                        ValueName="@nameof(Priority.Id)">
                </Select>
            </FormItem>
            <FormItem Label="Information system">
                <Select Mode="default"
                        DataSource="@InformationSystemList"
                        EnableSearch
                        @bind-Value="@context.InformationSystemId"
                        LabelName="@nameof(Priority.Name)"
                        ValueName="@nameof(Priority.Id)">
                </Select>
            </FormItem>
            <FormItem Label="Related tasks">
                <Select Mode="multiple"
                        DataSource="@CatalogTaskList"
                        EnableSearch
                        @bind-Values="@RelatedTaskId"
                        LabelName="@nameof(Priority.Name)"
                        ValueName="@nameof(Priority.Id)">
                </Select>
            </FormItem>
            <FormItem Label="Task status">
                <Input @bind-Value="@DefaultStatus!.Name" Disabled />
            </FormItem>
            <FormItem Label="Files">
                <InputFile multiple OnChange="HandleFileSelected" />
            </FormItem>
        </Form>
        <div class="createTaskButton">
            <Button Block Type="@ButtonType.Primary" HtmlType="submit" OnClick="CreateTask">
                Create task
            </Button>
        </div>
    </div>
</Loading>