@page "/create-task"
@inject IStringLocalizer<TaskCreateForm> Localizer


<PageTitle>Create Page</PageTitle>

<Divider />

<Loading Spinning="IsLoading">
    <EditForm EditContext="@EditContext" OnSubmit="CreateTask" class="create-form">
        <DataAnnotationsValidator/>

        <div class="form-item">
            <label for="name">@Localizer["CreatedName"] <span class="required">*</span></label>
            <Input id="name" @bind-Value="@CreatedTask.Name"/>
            <ValidationMessage For="@(() => CreatedTask.Name)"/>
        </div>

        <div class="form-item">
            <label for="description">@Localizer["CreatedDescription"]</label>
            <TextArea id="description" @bind-Value="@CreatedTask.Description"></TextArea>
        </div>

        <div class="form-item">
            <label for="taskExecutor">@Localizer["CreatedTaskExecutor"] <span class="required">*</span></label>
            <Select id="taskExecutor"
                    Mode="default"
                    DataSource="@Authors"
                    EnableSearch
                    TItemValue="int"
                    TItem="Author"
                    @bind-Value="@CreatedTask.TaskExecutorId"
                    LabelName="@nameof(Author.FullName)"
                    ValueName="@nameof(Author.Id)">
            </Select>
            <ValidationMessage For="@(() => CreatedTask.TaskExecutorId)"/>
        </div>

        @if (MachineLearningModeOptionService.IsEnabled)
        {
            <div class="form-item">
                <Button Block Type="@ButtonType.Default" OnClick="PredictProbability">
                     @Localizer["CreatedPredict"]
                </Button>
            </div>
            <div class="form-item">
                <Text Type="@PredictProbabilityMessageStyle">@PredictProbabilityMessage</Text>
            </div>
        }

        <div class="form-item">
            <label for="priority">@Localizer["CreatedPriority"] <span class="required">*</span></label>
            <Select id="priority"
                    Mode="default"
                    DataSource="@Priorities"
                    EnableSearch
                    TItemValue="int"
                    TItem="Priority"
                    @bind-Value="@CreatedTask.PriorityId"
                    LabelName="@nameof(Priority.Name)"
                    ValueName="@nameof(Priority.Id)">
            </Select>
            <ValidationMessage For="@(() => CreatedTask.PriorityId)"/>
        </div>

        <div class="form-item">
             <label for="informationSystem">@Localizer["CreatedInformationSystem"] <span class="required">*</span></label>
            <Select id="informationSystem"
                    Mode="default"
                    DataSource="@InformationSystems"
                    EnableSearch
                    TItemValue="int"
                    TItem="InformationSystem"
                    @bind-Value="@CreatedTask.InformationSystemId"
                    LabelName="@nameof(InformationSystem.Name)"
                    ValueName="@nameof(InformationSystem.Id)">
            </Select>
            <ValidationMessage For="@(() => CreatedTask.InformationSystemId)"/>
        </div>

        <div class="form-item">
             <label for="taskType">@Localizer["CreatedTaskType"] <span class="required">*</span></label>
            <Select id="taskType"
                    Mode="default"
                    DataSource="@CatalogTaskTypes"
                    EnableSearch
                    TItemValue="int"
                    TItem="CatalogTaskType"
                    @bind-Value="@CreatedTask.TaskTypeId"
                    LabelName="@nameof(CatalogTaskType.Name)"
                    ValueName="@nameof(CatalogTaskType.Id)">
            </Select>
            <ValidationMessage For="@(() => CreatedTask.TaskTypeId)"/>
        </div>

        <div class="form-item">
             <label for="relatedTasks">@Localizer["CreatedRelatedTasks"]</label>
            <Select id="relatedTasks"
                    Mode="multiple"
                    DataSource="@CatalogTaskList"
                    EnableSearch
                    @bind-Values="@RelatedTaskId"
                    LabelName="@nameof(CatalogTask.Name)"
                    ValueName="@nameof(CatalogTask.Id)">
            </Select>
        </div>

        <div class="form-item">
                 <label for="taskStatus">@Localizer["CreatedTaskStatus"] <span class="required">*</span></label>
            <Input id="taskStatus" @bind-Value="@DefaultStatus.Name" Disabled/>
        </div>

        <div class="form-item">
             <label for="files">@Localizer["CreatedFiles"]</label>
            <InputFile id="files" multiple OnChange="HandleFileSelected"/>
        </div>

        <button type="submit">@Localizer["CreatedCreateTask"]</button>
    </EditForm>
</Loading>